@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";


/* Global font */
* {
  font-family: 'Outfit', sans-serif;
}

/* Active nav underline */
.active hr {
  display: block;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

